/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #ddd;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #555;
}

/* line 21, ../sass/screen.scss */
.clearfix {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* line 30, ../sass/screen.scss */
.container .st-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 36, ../sass/screen.scss */
.container .st-container input, .container .st-container a {
  position: fixed;
  bottom: 0;
  width: 20%;
  height: 34px;
  line-height: 34px;
}
/* line 44, ../sass/screen.scss */
.container .st-container input {
  opacity: 0;
  z-index: 23333;
  cursor: pointer;
}
/* line 48, ../sass/screen.scss */
.container .st-container input:checked + a {
  background-color: #821134;
}
/* line 50, ../sass/screen.scss */
.container .st-container input:checked + a::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  content: '';
  height: 0;
  width: 0;
  overflow: hidden;
  border: 10px solid transparent;
  border-bottom-color: #821134;
}
/* line 64, ../sass/screen.scss */
.container .st-container input:hover:not(:checked) + a {
  background-color: #ad244f;
}
/* line 69, ../sass/screen.scss */
.container .st-container a {
  z-index: 2333;
  font-size: 16px;
  background-color: #e23a6e;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}
/* line 79, ../sass/screen.scss */
.container .st-container #st-control-1, .container .st-container #st-control-1 + a {
  left: 0%;
}
/* line 79, ../sass/screen.scss */
.container .st-container #st-control-2, .container .st-container #st-control-2 + a {
  left: 20%;
}
/* line 79, ../sass/screen.scss */
.container .st-container #st-control-3, .container .st-container #st-control-3 + a {
  left: 40%;
}
/* line 79, ../sass/screen.scss */
.container .st-container #st-control-4, .container .st-container #st-control-4 + a {
  left: 60%;
}
/* line 79, ../sass/screen.scss */
.container .st-container #st-control-5, .container .st-container #st-control-5 + a {
  left: 80%;
}
/* line 84, ../sass/screen.scss */
.container .st-scroll, .container .st-panel {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 89, ../sass/screen.scss */
.container .st-scroll {
  left: 0;
  top: 0;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 96, ../sass/screen.scss */
.container .st-panel {
  background-color: #fff;
  overflow: hidden;
}
/* line 105, ../sass/screen.scss */
.container #st-control-1:checked ~ .st-scroll {
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 105, ../sass/screen.scss */
.container #st-control-2:checked ~ .st-scroll {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 105, ../sass/screen.scss */
.container #st-control-3:checked ~ .st-scroll {
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}
/* line 105, ../sass/screen.scss */
.container #st-control-4:checked ~ .st-scroll {
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}
/* line 105, ../sass/screen.scss */
.container #st-control-5:checked ~ .st-scroll {
  -moz-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
}
