/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@font-face {
  font-family: "Raphaelicons";
  src: url('../fonts/raphaelicons-webfont.eot') format('eot'),
       url('../fonts/raphaelicons-webfont.svg') format('svg'),
       url('../fonts/raphaelicons-webfont.ttf') format('truetype'),
       url('../fonts/raphaelicons-webfont.woff') format('woff');
}

@include keyframes(moveDown)  {
  0% {
    @include transform(translateY(-20px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

@include keyframes(moveUp)  {
  0% {
    @include transform(translateY(20px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

body {
  background-color: #ddd;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #555;
}

.clearfix {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  .st-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    input, a {
      position: fixed;
      bottom: 0;
      width: 20%;
      height: 34px;
      line-height: 34px;

    }
    input {
      opacity: 0;
      z-index: 23333;
      cursor: pointer;
      &:checked + a {
        background-color: #821134;
        &::after {
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -10px;
          content: '';
          height: 0;
          width: 0;
          overflow: hidden;
          border: 10px solid transparent;
          border-bottom-color: #821134;
        }

      }
      &:hover:not(:checked) + a {
        background-color: #ad244f;
      }
    }

    a {
      z-index: 2333;
      font-size: 16px;
      background-color: #e23a6e;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
    }

    @for $i from 1 through 5 {
      #st-control-#{$i}, #st-control-#{$i} + a {
        left: 20% * ($i - 1);
      }
    }
  }
  .st-scroll, .st-panel {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .st-scroll {
    left: 0;
    top: 0;
    @include transform(translate3d(0, 0, 0));
    -webkit-backface-visibility: hidden;
    @include transition(all 0.6s ease-in-out)
  }
  .st-panel {
    overflow: hidden;
    h2 {
      margin-top: 170px;
      font-size: 54px;
      line-height: 50px;
      text-align: center;
      font-weight: 900;
      text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
      -webkit-backface-visibility: hidden;
    }
    p {
      padding-top: 30px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      font-size: 22px;
      line-height: 24px;
      -webkit-backface-visibility: hidden;
    }
    .st-desc {
      position: absolute;
      width: 200px;
      height: 200px;
      left: 50%;
      top: -100px;
      margin-left: -100px;
      @include transform(rotate(45deg));
    }
    &:nth-child(odd) {
      background-color: #fff;
      h2 {
        color: #e23a6e;
      }
      .st-desc {
        background-color: #fa96b5;
      }
      [data-icon]::after {
        color: #fff;
      }
    }
    &:nth-child(even) {
      background-color: #fa96b5;
      h2 {
        color: #fff;
      }
      p {
        color: #fff;
      }
      .st-desc {
        background-color: #fff;
      }
      [data-icon]::after {
        color: #fa96b5;
      }
    }
    [data-icon]::after {
      content: attr(data-icon);
      position: absolute;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 200px;
      font-size: 90px;
      text-align: center;
      line-height: 200px;
      font-family: Raphaelicons;
      margin: -100px 0 0 -100px;
      @include transform(rotate(-45deg) translateY(25%));
    }
  }
  @for $i from 1 through 5 {
    #st-control-#{$i}:checked ~ .st-scroll {
      @include transform(translateY(($i - 1) * 100% * -1));
      #st-panel-#{$i} {
        h2 {
          @include animation(moveDown 0.6s ease-in-out 0.3s backwards);
        }
        p {
          @include animation(moveUp 0.6s ease-in-out 0.3s backwards);
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .container {
    .st-container {
      .st-scroll {
        .st-panel {
          h2 {
            font-size: 42px;
          }
          p {
            font-size: 16px;
            width: 90%;
          }
        }
      }
    }
  }
}






